<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usman H S - Chapter 6 - Home</title>
</head>
<body>
    <h1>Succesfully deployed</h1>
    <p>Here are the APIs</p>
    <ol>
        <li>[POST] /api/image-upload</li>
        <li>[GET] /api/image-list</li>
        <li>[GET] /api/image-list/:title</li>
        <li>[PUT] /api/image-update/:id</li>
        <li>[DELETE] /api/image-delete/:id</li>
    </ol>

    <p>Keys are as follows</p>
    <ul>
        <li>id: number</li>
        <li>title: string</li>
        <li>description: string</li>
        <li>image: file</li>
    </ul>
</body>
</html>